<p style="float: right;">
<a href="http://www.github.com/lordadamson" target="_blank"><img src="assets/social_links/github.png" height="35" width="35"></img></a>
<a href="http://www.facebook.com/adam.zahran" target="_blank"><img src="assets/social_links/facebook.png"height="35" width="35"></img></a>
<a href="http://www.twitter.com/adamzahran" target="_blank"><img src="assets/social_links/twitter.png"height="35" width="35"></img></a>
<a href="https://www.youtube.com/user/lordadamson1/videos" target="_blank"><img src="assets/social_links/youtube.png"height="35" width="35"></img></a>
</p>
<h1 align="center">Devel Stuff</h1>
<h3 align="center">أدهم أو آدم - هنا بكتب عن المشاريع الشريرة بتاعتي وشوية حاجات كدا.</h3>
